[Unit]
Description=Discord valorant bot

[Service]
WorkingDirectory=/home/valbot/valbot
ExecStart=export PATH="$HOME/.local/bin:$PATH" poetry run python valorantbot.py
User=valbot
Group=valbot
Restart=always

[Install]
WantedBy=multi-user.target
Alias=valorantbot
